<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="jquery.min.js"></script>
</head>
<body>
<div  id="Fav" class="Arc-tool">
    <div class="Favlogo t-left">
        <div class=""></div>
    </div>
    <div class="t-right">
        <span class="fav t-right-top">收藏</span>
        <span class="fav t-right-bottom">0</span>
    </div>
</div>
<script src="../../../dist/js/commons.js"></script>
<script src="../../../dist/dist/HomePage.bundle.js"></script>

</body>
</html>