<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="container">
    <div class="row">
    <header>
        this is header
    </header>
    </div>
    <div class="row">
        <nav>

        </nav>
    </div>

    <div class="row">
        <div class="content">
            <div class="left"></div>
            <div class="right" ng-class></div>

        </div>
    </div>
    <div class="row">
        <footer></footer>
    </div>
</div>

<script src="../built/dist/HomePage.bundle.js"></script>
</body>
</html>